<section id="section-welcome-8" class="full-height text-light" data-speed="3" data-type="background" style="height: 100vh; background-position: 50% 0px;">

    <div class="center-y text-center" style="margin-top: -13.5px; opacity: 1;">
        <div class="spacer-double"></div>
        <h1 class="title" style="font-family: 'Overpass', sans-serif;">Kundan Groups</h1>
        <h1 class="title">Bring <strong class="id-color">Magic</strong> to home</h1>
        <div class="spacer-single"></div>
        <a href="contact.html" class="btn-slider scroll-to">Reach Out To Us</a>
        <div class="spacer-double"></div>
    </div>


</section>