<section id="section-welcome-8" class="full-height text-light" data-speed="3" data-type="background" style="height: 100vh; background-position: 50% 0px;">

    <div class="center-y text-center" style="margin-top: -13.5px; opacity: 1;">
        <div class="spacer-double"></div>
        <h1 class="title" style="font-family: 'Overpass', sans-serif;    background-color: #fff;
        opacity: 0.85;padding: 20px;">Kundan Groups</h1>
        <h1 class="title">
            <strong class="id-color">Let's create</strong>
            <strong class="id-color">Magical homes, together</strong></h1>
        <div class="spacer-single"></div>
        <a routerLink="/contact" routerLinkActive="active" class="btn-slider reach-out">Reach Out To Us</a>
        <div class="spacer-double"></div>
    </div>


</section>