<header>
    <div class="logo main-logo" style="display: block;">
        <a routerLink="/" routerLinkActive="active" class="animsition-link">
            <img src="./assets/images/logo.png" alt="Kundan Groups Logo" style="width:50px;">
        </a>
    </div>

    <div class="mobile-icon" style="display: block;" (click)="clicked($event)">
        <div class="nav-menu-icon">
            <a href="javascript:void(0)" [ngClass]="{active: shouldShow}">
                <i></i>
            </a>
        </div>
    </div>

    <nav class="parent-menu" [ngClass]="{'slide-menu':visibleMenu}">
        <ul id=" menu-menu-1 " class="navigation ">
            <li id="menu-item-46 " class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-121 current_page_item current-menu-ancestor current-menu-parent current_page_parent current_page_ancestor menu-item-has-children
        menu-item-123 " (click)="hideMenu($event)">
                <a routerLink="/" routerLinkActive="active" class="animsition-link ">
                    <span>Home</span>
                </a>
            </li>
            <li id="menu-item-48 " class="menu-item menu-item-type-post_type menu-item-object-page menu-item-47 " (click)="hideMenu($event)">
                <a routerLink="/about" routerLinkActive="active" class="animsition-link ">
                    <span>About</span>
                </a>
            </li>
            <li id="menu-item-47 " class="menu-item menu-item-type-post_type menu-item-object-page menu-item-47 " (click)="hideMenu($event)">
                <a routerLink="/products" routerLinkActive="active" class="animsition-link ">
                    <span>Products</span>
                </a>
            </li>
            <li id="menu-item-47 " class="menu-item menu-item-type-post_type menu-item-object-page menu-item-47 " (click)="hideMenu($event)">
                <a routerLink="/brands" routerLinkActive="active" class="animsition-link ">
                    <span>Brands</span>
                </a>
            </li>
            <li id="menu-item-49 " class="menu-item menu-item-type-post_type menu-item-object-page menu-item-36 " (click)="hideMenu($event)">
                <a routerLink="/contact" routerLinkActive="active" class="animsition-link ">
                    <span>Contact</span>
                </a>
            </li>
        </ul>
    </nav>
</header>