.copyright {
    position: relative;
    float: left;
    width: 100%;
    padding: 40px 0px 30px;
    text-align: center;
    background-color: #fff;
    -webkit-box-shadow: 0 8px 13px -3px #222 inset;
    -moz-box-shadow: 0 8px 13px -3px #222 inset;
    box-shadow: 0 8px 13px -3px #222 inset;
}

a {
    color: #000;
}

.footer-folow {
    position: relative;
    float: left;
    width: 100%;
    padding-bottom: 40px;
}

.footer-folow a span {
    font-size: 24px;
    margin: 0px 12px;
    color: #000;
    transition: all 0.35s ease-in;
    -webkit-transition: all 0.35s ease-in;
    -moz-transition: all 0.35s ease-in;
    -ms-transition: all 0.35s ease-in;
}

.footer-folow a span:hover {
    color: #999;
}

.copyright span {
    font-size: 14px;
    color: #000;
    text-transform: none;
}