<footer>
    <div class="copyright">
        <div class="footer-folow">
            <a target="_blank" href="#">
                <span class="fa fa-facebook"></span>
            </a>
            <a target="_blank" href="#">
                <span class="fa fa-twitter"></span>
            </a>
            <a target="_blank" href="#">
                <span class="fa fa-pinterest-p"></span>
            </a>
            <a target="_blank" href="#">
                <span class="fa fa-dribbble"></span>
            </a>
            <a target="_blank" href="#">
                <span class="fa fa-google-plus"></span>
            </a>
        </div>
        <span>© 2018 All right reserved by Kundan groups. Made by <a href="http://voraknotech.com" target="_blank">Voraknotech</a></span>
    </div>
</footer>