<div class="wow" id="product">
    <div class="container product-page-heading col-lg-12 col-md-12 col-sm-12 col-xs-12 center-col text-center">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 center-col text-center product-heading">
                <h5 class="alt-font font-weight-600 margin-5px-bottom" style="padding-top: 24px;">Contact Us</h5>
                <span class="text-uppercase text-extra-small alt-font letter-spacing-3">
                    <a routerLink="/" routerLinkActive="active" class="home-route">Kundan Groups</a>
                </span>
                <span class="text-uppercase text-extra-small alt-font letter-spacing-3">/Contact Us</span>
            </div>
        </div>
    </div>
</div>
<section class="s-contact sectionContent">

    <div class="contact-content " data-aos="fade-up">

        <div class="contact-primary ">

            <h3 class="h6 ">Reach Out To Us</h3>

            <form name="contactForm " id="contactForm " method=" " action=" " novalidate="novalidate ">
                <fieldset>

                    <div class="form-field ">
                        <input name="contactName " type="text " id="contactName " placeholder="Your Name " value=" " minlength="2 " required=" " aria-required="true " class="full-width ">
                    </div>
                    <div class="form-field ">
                        <input name="contactEmail " type="email " id="contactEmail " placeholder="Your Email " value=" " required=" " aria-required="true " class="full-width ">
                    </div>
                    <div class="form-field ">
                        <input name="contactSubject " type="text " id="contactSubject " placeholder="Subject " value=" " class="full-width ">
                    </div>
                    <div class="form-field ">
                        <textarea name="contactMessage " id="contactMessage " placeholder="Your Message " rows="10 " cols="50 " required=" " aria-required="true " class="full-width "></textarea>
                    </div>
                    <div class="form-field ">
                        <button class="full-width btn--primary ">Submit</button>

                    </div>

                </fieldset>
            </form>
        </div>
        <!-- end contact-primary -->

        <div class="contact-secondary ">
            <div class="contact-info ">

                <h3 class="h6 hide-on-fullwidth ">This will contain map</h3>




            </div>
            <!-- end contact-info -->
        </div>
        <!-- end contact-secondary -->

    </div>
    <!-- end contact-content -->

</section>
<!-- end s-contact -->