/* ------------------------------------------------------------------- 
 * ## go to top
 * ------------------------------------------------------------------- */

.go-top {
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 2;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.3s, opacity 0.3s linear;
}

.go-top:visited,
.go-top:hover,
.go-top:focus {
  opacity: 1;
  cursor: pointer;
}

.go-top a,
.go-top a:visited {
  text-decoration: none;
  border: 0 none;
  display: block;
  height: 60px;
  width: 60px;
  line-height: 60px;
  text-align: center;
  background: white;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  opactiy: 1;
}

.go-top a i,
.go-top a:visited i {
  font-size: 18px;
  line-height: inherit;
  opacity: 1;
}

.go-top a:hover,
.go-top a:focus {
  color: #000;
  opacity: 1;
}

.showGoTop {
  visibility: visible;
  opacity: 0.6;
  transition: visibility 0.3s, opacity 0.3s linear;
}
