<div class="wow" id="about">
    <div class="container about-page-heading col-lg-12 col-md-12 col-sm-12 col-xs-12 center-col text-center">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 center-col text-center about-heading">
                <h5 class="alt-font font-weight-600 margin-5px-bottom" style="padding-top: 24px;">About</h5>
            </div>
        </div>
    </div>
</div>
<section style="padding:20px  20px 20px 20px !important;">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-10 col-xs-12 center-col text-center">
                <h5 class="alt-font text-extra-dark-gray font-weight-600 margin-5px-bottom">Our Mission</h5>
                <h6 class="font-weight-300 line-height-26 md-width-100">" Innovating homes. "</h6>
            </div>
            <div class=" col-lg-8 col-md-8 col-sm-10 col-xs-12 center-col text-center ">
                <p class="text-medium font-weight-300 line-height-26 md-width-100 ">At Kundan, we all come to work every day because we want to solve the biggest problem in house building. Everyone is guessing. House builders don’t know how to build, how to monetize them, or even what to pay price for the products. They
                    aren’t sure which products and genres are the latest trend, and where to really spend their time (and money).</p>
                <p class="text-medium font-weight-300 line-height-26 md-width-100 ">Throughout the history of business, people use relations to make more informed decisions. Our mission at Kundan is to make building houses economical and hassle free. Today we provide the most reliable insights in the industry. We want
                    to make this house building solutions available to as many people as possible (not just the top 5%).</p>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-10 col-xs-12 center-col text-center ">
                <div class="position-relative ">
                    <h6 class="font-weight-300 ">" This site is dedicated to the quality conscious house builders. Quality products are never costly, they pay their worth in the long run. These products are trouble free and are comfortable to the users. "</h6>
                    <h6>-Pawan Jindal</h6>
                </div>
            </div>
        </div>
    </div>
</section>