body {
    margin: 0;
    font-family: 'Dosis', sans-serif;
}

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999999;
    background: #141517;
    opacity: 1;
}

#preloader #preloader-inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background: url('./assets/images/loader.gif') no-repeat center center;
}